[merra2]

# This defines the format for archive sub-directory creation.
# 0: base ST MERRA2 auxillary directory
# 1: year
# 2: month
archive_directory_format = {0}/{1:0>4}/{2:0>2}

# This defines the format for the filenames in the archive.
# 0: year
# 1: month
# 2: day
archive_name_format = merra2_{0:04}{1:02}{2:02}.nc4

# Directory where the archive resides
base_archive_directory = /home/espa/output-data/archive/merra2

# This defines the default date range for searching back in time for
# updated MERRA2 data.
search_date_range = 10

# This defines the block size to use for downloading, specified in bytes
# 16777216 = 16MB
# 33554432 = 32MB
transfer_block_size = 16777216


[nasa]

# The NASA login URL
login_url = urs.earthdata.nasa.gov

# Credential information for logging in
# action is always 'login'
action = login 

# The email you established with NASA
username = null

# The password for your NASA account
password = null 

# This defines the URL format to the location of the MERRA-2 data on the
# remote NASA system
# 0: year 
# 1: month 
# 2: remote filename or empty to get the file listing on the remote system
data_url_format = https://goldsmr5.gesdisc.eosdis.nasa.gov/data/MERRA2/M2I3NPASM.5.12.4/{0}/{1}/{2}

# This defines the format for the names of the files on the NASA system.
# 0: MERRA-2 stream and version - 100/200/300/400 
# 1: year
# 2: month
# 3: day
data_name_format = MERRA2_{0:03}.inst3_3d_asm_Np.{1:04}{2:02}{3:02}.nc4

